.body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container-inform {
    background-color: #93CFD1;
    height: 10vh;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    color: black;
}

.welcome {
    margin-left: 20px;
}

.project-area {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.buttonMore {
    padding: 5px 10px;
    background-color: #7fb1b3d8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
}

.container-view {
    font-size: 20px;
    color: black;
    margin: 50px 100px ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-view {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 20px;
}

.list-users {
    background-color: #93CFD1;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.list-admins {
    background-color: #93CFD1;
    border: 1px solid black;
    padding: 20px;
}

.container-monitor {
    color: black;
    align-items:center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.user-and-admin {
    font-size: 20px;
    display: flex;
    gap: 60px;
    justify-content: space-between;

}

.card-users {
    background-color: #93CFD1;
    border: 1px solid black;
    padding: 90px;
    text-align: center;
    
}

.card-admins {
    font-size: 20px;
    background-color: #93CFD1;
    border: 1px solid black;
    padding: 90px;
}

.users-model {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-1 {
    background-color: #578E8E;
    padding: 10px;
}

.user-2 {
    background-color: #578E8E;
    padding: 10px;
}

.user-3 {
    background-color: #578E8E;
    padding: 10px;
}

.user-4 {
    background-color: #578E8E;
    padding: 10px;
}

.user-5 {
    background-color: #578E8E;
    padding: 10px;
}