
.body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.navbar-main {
    background-color: #93CFD1;
    height: 10vh;
    padding-left: 20px;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}

.texts-navbar {
    background-color: #578e8e93;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 25px;
}


.cadastre-user {
    color: black;
    display: flex;
    padding: 20px;
    gap: 60px;
    justify-content: center;
}

.inputs-and-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.card-new-user {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    background-color: #93CFD1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}

.text-new-user {
    font-size: 20px;
}

.inputs-and-texts {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: content;
    padding-inline: 40px;
}

.text-cadastre {
    padding: 5px 10px;
}

.button-cdt {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.cadastre {
    border-radius: 5px;
    background-color: #578e8e93;
    padding: 10px;
    transition: transform(0.05s);
}

.cadastre:hover {
    transform: scale(1.2);  
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}

.card-obs {
    font-size: 10px;
    text-align: left;
    display: flex;
    justify-content: left;
}


/*a partir daqui será CSS para estilizar o segundo Card principal - Exibir usuários ja cadastrado*/

.read-user {
    
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    background-color: #93CFD1;
    padding: 30px 40px;   
    flex-direction: column;
    gap: 20px;
    display: flex;
}

.text-users-read {
    text-align: center;
    font-size: 20px;
}

.inputs-read-user {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 20px ;
}

.list-users-icons {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}

.input-user-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 70px;
    background-color: #578e8e;
}

.input-user-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 60px;
    background-color: #578e8e;
}

.input-user-3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 60px;
    background-color: #578e8e;
}

.input-user-4 {
    justify-content: center;
    gap: 20px;
    display: flex;
    padding: 10px 60px;
    background-color: #578e8e;
}

.input-user-5 {
    justify-content: center;
    gap: 20px;
    display: flex;
    padding: 10px 60px;
    background-color: #578e8e;
}

.button-quanti-pag {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon-left {
    transition: transform(0.4s);
}

.icon-left:hover {
    transform: scale(1.1);
}

.icon-right {
    transition: transform(0.4s);
}

.icon-right:hover {
    transform: scale(1.1);
}
/* A partir daqui será a estilização do novo card - MODERADORES PRESENTES */

.card-moders {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card-moders-exitents {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    background-color: #93CFD1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    gap: 20px;
    align-items: center;
}

.title-moders {
    font-size: 20px;
    text-align: center;
}

.card-text-moders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
}

.moder-1 {
    padding: 10px 60px;

    background-color: #578e8e;
}

.moder-2 {
    padding: 10px 60px;
    background-color: #578e8e;
}


.back {
    background-color: #93CFD1;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 3px;
    border: 0.2px solid black;
    transition: transform(0.6s);
}

.back:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}