

.body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    color: black;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.card-main {
    background-color: #93CFD1;
    box-shadow: 1px 3px 4px gray;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.cards-mains {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-cadastre {
    border: 1px solid black;
    background-color: #93CFD1;
    height: 40vh;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-moders-gifts {
    background-color: #93CFD1;
    border: 1px solid black;
    height: 60vh;
    padding: 20px;
    border-radius: 5px;
}

.card-moders-inserted {
    background-color: #93CFD1;
    border: 1px solid black;
    height: 25vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 5px;
}

.textTitle-cadastre {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.inputs-cadastre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.camp-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-cadastre {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    background-color: #578e8e93;
    transition: transform 0.0s;
}

.button-cadastre:hover {
    transform: scale(1.1);
}